.numgen{
    background-color:whitesmoke;
    border: 1px solid black;
    height: 130px;
    width: 190px;
    margin-left: 585px;
    margin-right: 460px;
    text-align: center;
    border-radius: 8px;
}
.heading{
    background-color: black;
    color: white;
    width: fit-content;
}
#numbtn{
    margin-left: 500px;
    margin-right: 80px;
    margin-top: 12px;
    text-align: center;
    border-radius: 15px;
    background: linear-gradient(to left,#2d88ddd5,#71d3fad5);
}
#clearbtn{
    margin-top: 12px;
    text-align: center;
    border-radius: 15px;
    background: linear-gradient(to right,#2d88ddd5,#71d3fad5);
}
table, tr, th, td {
    border : 1.5px solid black;
}
#tboard{
    margin-top: 15px;
    margin-left: 285px;
    margin-right: 200px;
    font-family: fantasy;
}