.numgen{
    background-color: rgb(255, 251, 188);
    border: 1px solid black;
    height: 130px;
    width: 190px;
    margin-left: 585px;
    margin-right: 460px;
    text-align: center;
}
.heading{
    background-color: black;
    color: white;
    width: fit-content;
}
#numbtn{
    margin-left: 608px;
    margin-right: 445px;
    margin-top: 10px;
}
table, tr, th, td {
    border : 1px solid black;
}
#tboard{
    margin-top: 15px;
    margin-left: 285px;
    margin-right: 200px;
    font-family: fantasy;
}